* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body                  {
    background-image: url(../img/Sirama_form.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    font-size: 16px;
}

header                {
    margin: 24px auto;
    width: 100%;
}

header h1             {
    color: #ec6e0c;
    font: bold 3.2em Tahoma,Helvetica,sans-serif;
    text-align: center;
    text-shadow: 0px 2px 3px #989,
                 1px 3px 5px #989,
                 2px 4px 7px #989;
}

form                  {
    margin:auto;
    width:250px;
    padding:25px;
    border:1px solid #270644;
    /* Agregando propiedades CSS3 */
    border-radius:12px;
    -ms-border-radius:f9f8f8;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    -khtml-border-radius:12px;
    behavior:url(../rounded/border-radius.htc);
    background:#016a66;
    background: -ms-radial-gradient(19% 75% 90deg, #016a66, #016a66);
    background:-moz-linear-gradient(19% 75% 90deg, #016a66, #016a66);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#016a66), to(#016a66));
    /* background:silver url("rounded.svg"); */
    
    /* Sombra a los costados de las cajas */
    box-shadow:0px -5px 300px #270644;
    -ms-box-shadow:0px -5px 300px #270644;
    -moz-box-shadow:0px -5px 300px #270644;
    -webkit-box-shadow:0px -5px 300px #270644;
}

label                  {
    color:#fc9e60;
    font:Bold 1.1em Linotype,sans-serif;
    text-transform:uppercase;
}


input                  {
    width: 230px;
    background: #ffffff;
    padding: 6px;
    margin-bottom: 10px;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #AD64E0;
    border-bottom: 1px solid #AD64E0;
    /* Agregando propiedades CSS3 */
    -webkit-transition-property: -webkit-box-shadow, background;
    -webkit-transition-duration: 0.25s;
    -moz-box-shadow: 0px 0px 2px #000;
    -webkit-box-shadow: 0px 0px 2px #000;
}

input[type=text]       {
    font:Bold 1em Palatino,Helvetica,sans-serif;
    color:#000000;
}

input[type=password]       {
    font:Bold 1em Palatino,Helvetica,sans-serif;
    color:#000000;
}

input[type=submit]     {
    background: #fc9e60;
    color: #000;
    border-top: 2px solid #F5DEB3;
    border-left: 2px solid #F5DEB3;
    border-right: 2px solid #BC8F8F;
    border-bottom: 2px solid #BC8F8F;
    text-transform:uppercase;
    font:Bold 1em Palatino,Helvetica,sans-serif;
}

input[type=submit]:hover {
    background-color:#96ff43;
    color:#6091f5;
}

input:hover            {
    -webkit-box-shadow: 0px 0px 4px #000;
    background: #ffffff;
}

.submit               {
    background:rgb(50,50,120);
    border:3px outset rgb(60,50,60);
    bottom:-0.2em;
    color:Yellow;
    display:inline;
    font:Bold 9pt "Century Gothic","Arial Rounded MT Bold",Helvetica,sans-serif;
    position:relative;
}

.submit:hover         {
    background:rgb(90,90,150);
    color:White;
}

#numbersOnly         {
    background: #00D700; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #00D700 0%, #00D700 46%, #00D700 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#00D700), color-stop(46%,#fe9090), color-stop(100%,#ff5c5c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #00D700 0%,#00D700 46%,#00D700 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #00D700 0%,#00D700 46%,#00D700 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #00D700 0%,#00D700 46%,#00D700 100%); /* IE10+ */
    background: linear-gradient(135deg, #00D700 0%,#00D700 46%,#00D700 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00D700', endColorstr='#00D700',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border:3px groove #0d3210;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    -o-border-radius: 12px 12px 12px 12px;
    -ms-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
    color:black;
    font:Bold 8pt "LatoSemibold",Arial,Helvetica,sans-serif;
    padding: 6px 5px;
    visibility:hidden;
}