body {
	padding: 0;
	margin: 0;
}


#links:hover {
	background-color: #808b96;
}

#links {
	line-height: 90px;
	font-size: 55px;
	transition: 0.2s linear;
}

/*Estilo Footer*/

#foot {
	background:  #566573;
}