body {
	padding: 0;
	margin: 0;
}


#links:hover {
	background-color: #808b96;
}

#links {
	line-height: 90px;
	font-size: 55px;
	transition: 0.2s linear;
}

/*Estilo Footer*/

#foot {
	background:  #566573;
}

#style_block {
	background-color: #808b96;
	
}

#style_parra {
	color: floralwhite;
	font:Bold 11pt sans-serif;
	text-align: center;
	letter-spacing: 0.3px;
}

#style_link {
	color: floralwhite;
	font:Bold 11pt sans-serif;
	text-align: center;
}

#style_link:hover {
	color: #ff7043;
	text-decoration: none;
}

#icono {
	margin-left: 5px;
	margin-right: 3px;
}